@using Jmelosegui.Mvc.GoogleMap
@using SingingFinder.Core
@model IEnumerable<Singing>

<div class="jumbotron">
    <h1>...</h1>
    <p class="lead">Find a singing near you!</p>
@*    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-12">
        <div style="height: 500px; border: solid 1px #cccccc" id="mapContainer">
        </div>
    </div>
</div>

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))

    <script type="text/javascript">
        $(function() {
            new $.jmelosegui.GoogleMap('#mapContainer').ajax({
                url: '@Url.Action("Map", "Singings")',
                type: "Get",
                data: { payload: 'from ajax call' },
                success: function (data) {
                }
            });
        });
    </script>
}
       