@using Jmelosegui.Mvc.GoogleMap
@using SingingFinder.Core
@model IEnumerable<Singing>

@section styles
{
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}

<h1>Sacred Harp Singing Finder</h1>
<p class="lead">Find local and all-day singings near you!</p>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="daterange">Date Range:</label>
            <input type="text" class="form-control" id="daterange" name="daterange"/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="book">Book:</label>
            <select class="form-control" id="book" name="book">
                @foreach (var book in Enum.GetValues(typeof(Book)).Cast<Book>())
                {
                    <option value="@book">@book</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="singingType">Type:</label>
            <select class="form-control" id="singingType" name="singingType">
                <option value="All">All</option>
                <option value="Annual">Annual (All-Day)</option>
                <option value="Regular">Regular (Local)</option>
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div id="mapContainer"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    @(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))

    <script type="text/javascript">
        function saveMapState(args) {
            var mapZoom = args.map.getZoom();
            var mapCentre = args.map.getCenter();
            var mapLat = mapCentre.lat();
            var mapLng = mapCentre.lng();
            var cookiestring = mapLat + "_" + mapLng + "_" + mapZoom;
            setCookie("myMapCookie", cookiestring, 30);
        }

        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
            document.cookie = c_name + "=" + c_value;
        }

        function updateMap() {
            var datepicker = $('#daterange').data('daterangepicker');

            new $.jmelosegui.GoogleMap('#mapContainer').ajax({
                url: '@Url.Action("Map", "Singings")',
                type: "Get",
                data: {
                    start: datepicker.startDate.format('L'),
                    end: datepicker.endDate.format('L'),
                    book: $('#book').val(),
                    singingType: $('#singingType').val()
                },
                success: function(data) {
                }
            });
        }

        $(function () {

            var now = moment();
            var oneYearFromNow = moment().add(1, 'year').subtract(1, 'days');

            $('#daterange').daterangepicker({
                startDate: now,
                endDate: oneYearFromNow,
                    dateLimit: {
                        days: 365
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Next 7 Days': [moment(), moment().add(6, 'days')],
                        'Next 30 Days': [moment(), moment().add(29, 'days')]
                    },
                    locale: {
                        format: "MMM DD YYYY"
                    }
                },
                function(start, end, label) {
                    updateMap();
                });

            $('#book').change(
                function(parameters) {
                    updateMap();
                });

            $('#singingType').change(
                function(parameters) {
                    updateMap();
                });

            updateMap();
    });

    </script>
}
       