@using Jmelosegui.Mvc.GoogleMap
@using SingingFinder.Core
@model IEnumerable<Singing>

@section styles
{
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}

<div class="jumbotron">
    <h1>...</h1>
    <p class="lead">Find a singing near you!</p>
    @*    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="daterange">Date Range:</label>
            <input type="text" class="form-control" id="daterange" name="daterange"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div style="height: 500px; border: solid 1px #cccccc" id="mapContainer"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    @(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))

    <script type="text/javascript">

        function updateMap(start, end) {
            new $.jmelosegui.GoogleMap('#mapContainer').ajax({
                url: '@Url.Action("Map", "Singings")',
                type: "Get",
                data: {
                    start: start.format('L'),
                    end: end.format('L')
                },
                success: function(data) {
                }
            });
        }

        $(function () {

            var now = moment();
            var oneMonth = moment().add(1, 'month').subtract(1, 'days');

            $('input[name="daterange"]').daterangepicker({
                startDate: now,
                endDate: oneMonth,
                    dateLimit: {
                        days: 364
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Next 7 Days': [moment(), moment().add(6, 'days')],
                        'Next 30 Days': [moment(), moment().add(29, 'days')]
                    },
                    locale: {
                        format: "MMM DD YYYY"
                    }
                },
                function(start, end, label) {
                    updateMap(start, end);
                });
            updateMap(now, oneMonth);
    });

    </script>
}
       